<header class="navbar">

  <div class="navbar-container">

    <a class="navbar-logo" routerLink="/">
      <img
        class="navbar-logo-image"
        src="assets/images/logo_elcasier.png"
        alt="elcasier">
    </a>

    <nav>

      <ul class="navbar-links">

        <li class="navbar-item">
          <a
            class="navbar-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Inicio
          </a>
        </li>

        <li class="navbar-item">
          <a
            class="navbar-link"
            routerLink="/about"
            routerLinkActive="active">
            Sobre mí
          </a>
        </li>

        <li class="navbar-item">
          <a
            class="navbar-link"
            routerLink="/projects"
            routerLinkActive="active">
            Proyectos
          </a>
        </li>

        <li class="navbar-item">
          <a
            class="navbar-link"
            routerLink="/blog"
            routerLinkActive="active">
            Blog
          </a>
        </li>

        <li class="navbar-item">
          <a
            class="navbar-link"
            routerLink="/contact"
            routerLinkActive="active">
            Contacto
          </a>
        </li>

      </ul>

    </nav>

  </div>

</header>
