/* ==========================================================
   Navbar
========================================================== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 1000;

  backdrop-filter: blur(12px);
  background: rgba(15, 23, 42, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: min(1100px, 90%);
  height: var(--navbar-height);

  margin: auto;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-image {
  display: block;

  width: auto;
  height: 100px;
}

.navbar-links {
  display: flex;
  gap: 2rem;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: var(--color-text-secondary);

  text-decoration: none;

  transition: color var(--transition-default);
}

.navbar-link:hover {
  color: var(--color-text);
}

.navbar-link.active {
    color: var(--color-primary);
}

.navbar-link.active::after {
    width: 100%;
}
