/* ==========================================================
   Footer
========================================================== */

.footer {
  margin-top: 8rem;
  padding: 3rem 0;

  border-top: 1px solid #334155;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #94a3b8;
  font-size: .95rem;
}
