<header class="navbar">

  <nav class="navbar-container">

    <a
      href="#hero"
      class="navbar-logo"
      aria-label="Ir al inicio">

      <img
        class="navbar-logo-image"
        src="assets/images/logo_elcasier.png"
        alt="Logo de elcasier">

    </a>

    <ul class="navbar-links">

      <li class="navbar-item">
        <a class="navbar-link" href="#hero">
          Inicio
        </a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#featured-project">
          Proyecto
        </a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#about">
          Sobre mí
        </a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#contact">
          Contacto
        </a>
      </li>

      <li class="navbar-item">
        <a
          class="navbar-link"
          href="https://github.com/elcasier87"
          target="_blank"
          rel="noopener noreferrer">

          GitHub

        </a>
      </li>

    </ul>

  </nav>

</header>
