<section id="hero" class="hero">

  <p class="hero-intro">
    Hola, soy
  </p>

  <h1 class="hero-title">
    Casimiro Aroca
  </h1>

  <h2 class="hero-subtitle">
    Java Backend Developer
  </h2>

  <p class="hero-tech">
    Spring Boot • Angular • Docker
  </p>

  <p class="hero-description">
    Construyo aplicaciones con Java, Spring Boot y Angular.
    Actualmente estoy desarrollando <strong>WaxWiser</strong>, una plataforma para valorar vinilos mediante Inteligencia Artificial.
  </p>

  <div class="hero-buttons">

    <a
      class="primary-button"
      href="#featured-project">

      Ver proyecto

    </a>

    <a
      class="secondary-button"
      href="https://github.com/elcasier87"
      target="_blank"
      rel="noopener noreferrer">

      GitHub

    </a>

  </div>

</section>
