.hero {

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hero__intro {

  font-size: 1.2rem;

}

.hero__title {

  font-size: 4rem;
  margin: .5rem 0;

}

.hero__subtitle {

  font-size: 2rem;
  font-weight: 400;

}

.hero__description {

  margin-top: 2rem;
  max-width: 700px;
  line-height: 1.7;

}

.hero__actions {

  display: flex;
  gap: 1rem;
  margin-top: 3rem;

}

.btn{

  padding: 1rem 2rem;
  cursor:pointer;

}
