/* ==========================================================
   Hero
========================================================== */

.hero {
  min-height: calc(100vh - var(--navbar-height));

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 4rem 0;
}

/* ==========================================================
   Hero Content
========================================================== */

.hero-intro {
  color: var(--color-primary);

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .08rem;
  text-transform: uppercase;
}

.hero-title {
  margin-top: 1rem;

  color: var(--color-text);

  font-size: clamp(4rem, 9vw, 6rem);
  font-weight: 800;
  line-height: 1;
}

.hero-subtitle {
  margin-top: 1.5rem;

  color: var(--color-text-muted);

  font-size: clamp(1.8rem, 4vw, 2.4rem);
  font-weight: 400;
}

.hero-tech {
  margin-top: .75rem;

  color: var(--color-primary);

  font-size: 1.2rem;
  font-weight: 500;
}

.hero-description {
  max-width: 550px;

  margin-top: 2.5rem;

  color: var(--color-text-secondary);

  font-size: 1.15rem;
  line-height: 1.9;
}

/* ==========================================================
   Buttons
========================================================== */

.hero-buttons {
  display: flex;
  gap: 1rem;

  margin-top: 2.5rem;
}
