/* ==========================================================
   Colors
========================================================== */

:root {

  --color-background: #0f172a;

  --color-surface: #1e293b;
  --color-border: #334155;

  --color-primary: #3b82f6;
  --color-primary-rgb: 59, 130, 246;
  --color-primary-hover: #2563eb;

  --color-text: #f8fafc;
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #94a3b8;


  /* ==========================================================
     Border radius
  ========================================================== */

  --radius-small: 12px;
  --radius-medium: 18px;
  --radius-large: 20px;
  --radius-pill: 999px;


  /* ==========================================================
     Animation
  ========================================================== */

  --transition-default: .3s;


  /* ==========================================================
     Layout
  ========================================================== */

  --navbar-height: 80px;

}
