/* ==========================================================
   Contact
========================================================== */

.contact-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact-button {
  min-width: 190px;
}
