/* ==========================================================
   Layout
========================================================== */

main {
  width: min(1100px, 90%);
  margin: auto;
  padding-top: 80px;
}

section {
  padding: 6rem 0;
}
