/* ==========================================================
   Design System
========================================================== */

@use 'styles/variables';
@use 'styles/buttons';
@use 'styles/cards';
@use 'styles/typography';


/* ==========================================================
   Reset
========================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ==========================================================
   Global
========================================================== */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);

  font-family: Inter, sans-serif;
}
