/* ==========================================================
   Design System
========================================================== */

@use 'styles/variables';
@use 'styles/buttons';
@use 'styles/cards';
@use 'styles/typography';


/* ==========================================================
   Reset
========================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ==========================================================
   Global
========================================================== */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);

  font-family: Inter, sans-serif;
}

.section-title {
    margin-bottom: 1rem;

    font-size: 2.75rem;
    font-weight: 700;

    text-align: center;
}

.section-subtitle {
    max-width: 700px;

    margin: 0 auto 4rem;

    text-align: center;

    color: var(--color-text-secondary);

    line-height: 1.8;
}
